html {
  font-size: 62.5%;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.slider-container {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
.image-container {
  display: flex;
  /* transform: translateX(-100rem); */
}
